name: Car Scraper Daily

on:
  workflow_dispatch: # Позволяет запустить кнопкой
  schedule:
    - cron: '0 0 * * *' # Запуск каждую полночь

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: |
          pip install playwright beautifulsoup4 supabase
          playwright install chromium
      - name: Run parser
        env:
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}
        run: python parser.py